jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=email.schaal.ocreader
testPackageName=email.schaal.ocreader
compiledPackageName=email.schaal.ocreader.debug
compiledTestPackageName=email.schaal.ocreader.debug.test
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/email.schaal.ocreader/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/email.schaal.ocreader/app/src/androidTest/java/email/schaal/ocreader/
